body{
  padding: 0px;
  margin: 0px;
  background-color: rgb(6, 80, 141);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pb-3{
  padding-bottom: 3rem;
}
.points{
  padding: 10px;
  border: 1px solid rgba(26, 24, 26, 0.882);
  background-color: rgb(89,145,175);
  margin: 10px 0px;
  border-radius: 5px;
  font-family: 'Courier New', Courier, monospace;
}
#points{
  padding: 0px;
  margin: 0px;
  font-size: 30px;
  color: rgb(247, 247, 255);
}

#canvas{
  background-image: linear-gradient(to bottom, rgba(15, 73, 121, 0.59),rgba(3, 60, 139, 0.339) ), url(../img/granja.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
background-position: right;
}